requests
beautifulsoup4
lxml
flask
schedule
selenium
webdriver-manager
Pillow
numpy
opencv-python-headless
onnxruntime
mysql-connector-python
pymysql
paho-mqtt
python-dateutil
pytz
cryptography
urllib3
certifi