name: "XiaoMusic"
version: "0.3.101"
slug: "xiaomusic"
description: "使用小爱音箱播放本地/网络音乐，支持 yt-dlp 下载，语音口令控制播放。"
url: "https://github.com/hanxi/xiaomusic"
image: "ghcr.io/wuwweizn/xiaomusic-{arch}"

arch:
  - amd64
  - aarch64
  - armv7

startup: "application"
boot: "auto"
init: false

ports:
  8090/tcp: 58090
ports_description:
  8090/tcp: "XiaoMusic Web 管理界面"

map:
  - type: share
    read_only: false
  - type: media
    read_only: false

ingress: true
ingress_port: 8090
panel_icon: "mdi:music-box-multiple"
panel_title: "XiaoMusic"

options:
  public_port: 58090

schema:
  public_port: int

webui: "http://[HOST]:[PORT:8090]"
