name: "XiaoMusic"
description: "使用小爱音箱播放音乐，支持 yt-dlp 下载"
version: "0.4.23"
slug: "xiaomusic"
url: "https://github.com/hanxi/xiaomusic"
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386

ports:
  8090/tcp: 8090

ports_description:
  8090/tcp: "XiaoMusic Web 控制台"

map:
  - share:rw
  - media:rw

options:
  XIAOMUSIC_HOSTNAME: ""
  XIAOMUSIC_PORT: 8090
  XIAOMUSIC_PUBLIC_PORT: 8090
  XIAOMUSIC_ACCOUNT: ""
  XIAOMUSIC_PASSWORD: ""
  XIAOMUSIC_MI_DID: ""
  XIAOMUSIC_MUSIC_PATH: "/share/xiaomusic/music"
  XIAOMUSIC_CONF_PATH: "/share/xiaomusic/conf"
  XIAOMUSIC_VERBOSE: false

schema:
  XIAOMUSIC_HOSTNAME: str
  XIAOMUSIC_PORT: int
  XIAOMUSIC_PUBLIC_PORT: int
  XIAOMUSIC_ACCOUNT: str
  XIAOMUSIC_PASSWORD: str
  XIAOMUSIC_MI_DID: str
  XIAOMUSIC_MUSIC_PATH: str
  XIAOMUSIC_CONF_PATH: str
  XIAOMUSIC_VERBOSE: bool
